html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

.tooltip {
      position: absolute;
  right: 45px;
    top: 25px;
    padding: 4px;
    background-color: transparent;
    color: white;

    font-family: sans-serif;
    font-size: 15px;
  
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  color: white;
  font-family: monospace;
    font-size: 12px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 17px;
    white-space: pre;
  text-align: left;
  border-radius: 0px;
  padding:0px 0;
  position: absolute;
  z-index: 10;
  bottom: -660%;
  left:0%;
  margin-left: -150px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left:0%;

  opacity: 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

